.reset-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F4FF;
}

.reset-box {
    background: white;
    padding: 40px 50px;
    border-radius: 20px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}

.reset-box h2 {
    margin-bottom: 10px;
    color: #1E3A8A;
}

.reset-box p {
    color: #555;
    margin-bottom: 20px;
    font-size: 14px;
}

.reset-box input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #F0F4FF;
    border: 1px solid #ccc;
    outline: none;
}

.reset-box button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #1E3A8A;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    text-transform: uppercase;
}

.reset-box button:hover {
    background-color: #3B82F6;
}

.back-login {
    display: block;
    margin-top: 20px;
    text-decoration: underline;
    font-size: 14px;
    color: #1E3A8A;
}
